# Auto detect text files and normalize line endings
* text=auto

# Force LF for specific file types
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf