.specialty-info {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  // Lớp phủ để chỉnh opacity
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgb(255, 255, 255));
    z-index: 1;
  }
  .title,
  .description {
    z-index: 2;
    position: relative;
  }
}
