.wrapper {
  position: relative;
  width: 100%;
  min-height: 100px;
}
.footer-top {
  width: 100%;
  padding: 20px 0;
  max-width: var(--default-layout-width);
  position: relative;
  &::before {
    content: '';
    margin: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 101vw;
    height: 100%;
    background-color: var(--bg-footer-color);
    transform: translateX(-51%);
    z-index: -9999;
  }
}
.logo {
  width: 12vw;
  min-width: 50px;
}
.info {
}
.service {
  align-items: center;
  .title {
    margin-left: 12px;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 10px;
    color: var(--icon-color-secondary);
  }
}
.partners {
  .partner {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
}
.img-partner {
  width: 5vw;
  height: 2vw;
  min-width: 40px;
  min-height: 25px;
  margin-right: 10px;
}
.title-partner,
.description {
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: 600;
}
.description {
  font-weight: 400;
}
.footer-bottom {
  position: relative;
  height: 80px;
  display: flex;
  //space-between
  justify-content: space-between;
  align-items: center;
  &::before {
    content: '';
    margin: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 101vw;
    height: 100%;
    background-color: #64b9e5;
    transform: translateX(-51%);
    z-index: -9999;
  }
  &::after {
    content: '';
    margin: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 101vw;
    height: 3px;
    background-color: var(--icon-color);
    transform: translateX(-51%);
    z-index: -9999;
  }
  .coppy-right {
    font-size: 0.8rem;
    color: var(--white);
  }
  .social {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
      height: 32px;
      width: 32px;
      color: var(--white);
      border-radius: 20%;
    }
  }
}
